@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    background-color: #18181B;
    
}

.NavBar {
    display: flex;
    gap: 32rem;
}

.header-NavBar {
    padding: 2.5rem;
}   

h1 {
    color: #E4E4E7;
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
}

.descricao-headerNavBar {
    color: #A1A1AA;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    
}

.actions {
    margin: 4rem;
    display: flex;
    gap: 1rem;
}

.actions > button {
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--zinc-800, #27272A);
}


.titulo-cabecalho {
    color: #A1A1AA;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    
}

.subtitulo-cabecalho {
    color: #71717A;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
}

.botao-cabecalho {
    
    border: none;
    padding: 10px; 
    border-radius: 10px;
    background-color: #27272A;   
}


.titulo-div-card {
    color: #A1A1AA;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
}

.subtitulo-div-card {
    color: #71717A;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
}

.foco-card-container > button {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid var(--lime-500, #84CC16);
    background: rgba(132, 204, 22, 0.10);
    color: var(--lime-500, #84CC16);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.proximoModo-card-container > button {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid var(--cyan-500, #06B6D4);
    background: rgba(6, 182, 212, 0.10);
    color: var(--cyan-500, #06B6D4);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

hr {
    border-color: #27272A;
    width: 25rem;
}

.dados-da-secao {
    border-radius: 1rem;
    border-color: #27272A;
}